@mixin large {
  @media screen and (min-width: #{$s-large + 1px}) {
    @content;
  }
}


@mixin medium {
  @media screen and (min-width: #{$s-medium + 1px}) {
    @content;
  }
}

@mixin outline-green-gap {
	outline-offset: 1px;

	&:focus {
		outline: $green solid 2px;
		outline-offset: 3px;
		transition: outline-offset 0.1s linear;
	}
}

@mixin outline-white-gap {
	outline-offset: 1px;

	&:focus {
		outline: $white solid 2px;
		outline-offset: 3px;
		transition: outline-offset 0.1s linear;
	}
}


@mixin outline-green {
	outline: transparent solid 2px;
	outline-offset: 0;

	&:focus {
		outline: $green solid 2px;
		transition: outline 0.1s linear;
	}
}