$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-arrow-color: black !default; 


$row-width: em-calc(1250);
$total-columns: 12;
$column-gutter: em-calc(20);

$s-tiny: 480px;
$s-small: 640px;
$s-medium: 800px;
$s-large: 1250px;

$small-breakpoint:  em-calc($s-medium);
$medium-breakpoint: em-calc($s-large);


$white: #fff;
$black: #000;
$bg-grey: #2a2a2c;
$bg-lightgrey: #f3f3f3;
$t-grey: #3a3838;
$green: #16a156;
$darkgreen: #008944;
