.council-services {
	background-color: $green;

	&__title {
		text-align: center;
		color: $white;
		padding: 50px 0 35px;

		@include medium {
			padding: 70px 0 55px;
		}

		@include large {
			padding: 90px 0 75px;
		}

		span {
			display: block;
			margin-top: 20px;
		}
	}

	&__toggles {
		position: relative;
	
		&__subnav {
			background-color: $white;
			width: 100%;
			margin-top: 20px;
			max-height: 0;

			&__list {
				display: none;
				padding: 25px 30px;

				li {
					position: relative;

					@include medium {
						float: left;
						padding-right: 45px;

						&:after {
							content: '';
							position: absolute;
							height: 80%;
							width: 1px;
							right: 24px;
							top: 10%;
							background-color: $bg-grey;
						}
					}

					a {
						color: $bg-grey;
						text-decoration: none;
						@include f-demibold;
						font-size: rem-calc(18);
						@include outline-green-gap;

						@include large {
							font-size: rem-calc(22);
						}

						&:hover {
							color: $green;
						}
					}

					&:last-child {
						padding-right: 0;

						&:after {
							display: none;
						}
					}
				}
			}

			&.open {
				max-height: 200px;
			}
		}

		&__single {
			width: 100%;
			@include f-demibold;
			border: 1px solid $white;
			color: $white;
			background-color: transparent;
			transition: background-color 0.2s linear, color 0.2s linear;
			padding: 30px 10px;
			font-size: rem-calc(22);
			line-height: rem-calc(24);
			@include outline-white-gap;

			@include large {
				padding: 45px 20px;
				font-size: rem-calc(32);
				line-height: rem-calc(36);
			}

			&:hover, &.open {
				background-color: $white;
				color: $bg-grey;
			}

			&.open {

				@include medium {
					&:after {
						content: '';
						position: absolute; 
						bottom: -20px;
						left: 50%;
						width: 0; 
						height: 0; 
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-bottom: 10px solid $white;

					}
				}
			}
		}
	}

	&__more-link {
		color: $white;
		text-decoration: none;
		text-align: center;
		font-size: rem-calc(22);
		line-height: rem-calc(26);
		@include f-demibold;
		display: block;
		width: 280px;
		max-width: 100%;
		padding: 0 0 60px;
		position: relative;
		margin: 35px auto 50px;
		@include outline-white-gap;

		@include medium {
			margin: 55px auto 80px;
		}

		@include large {
			margin: 80px auto 100px;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 50px;
			height: 50px;
			background: url('./images/arrow.svg') center center no-repeat;
			transform-origin: center center;
			transform: rotate(90deg) translateY(50%);
			transition: bottom 0.2s linear;
		}

		&:hover, &:focus {
			&:after {
				bottom: -5px;
			}
		}
	}

	.columns {
		+ .columns {
			.council-services__toggles__single {
				margin-top: 10px;

				@include medium {
					margin-top: 0;
				}
			}
		} 
	}
}