.site-header {
	padding: 25px 0;
	background-color: $white;

	@include medium {
		padding: 40px 0;
	}

	@include large {
		padding: 62px 0;
	}

	&__logo {
		letter-spacing: -0.03em;
	}

	&__nav {
		ul {
			text-align: right;

			@include large {
				padding: 19px 0 0;
			}
		}
		

		&__item {
			display: inline-block;

			a {
				@include f-demibold;
				font-size: rem-calc(20);
				text-decoration: none;
				color: $t-grey;
				@include outline-green-gap;

				@include large {
					font-size: rem-calc(22)
				}

				&:hover {
					text-decoration: underline;
				}
			}

			+ .site-header__nav__item {
				margin-left: 18px;
			}

			&--highlight {
				a {
					@include f-bold;
				}
			}
		}

		&--mobile {
			visibility: hidden;
			position: fixed;
			z-index: 998;
			top: 0;
			left: 100%;
			width: 100%;
			height: 100%;
			background-color: $bg-grey;
			transition: transform 0.3s ease-in;

			ul {
				text-align: left;
				padding: 20px;
			}

			.site-header__nav__item {
				display: block;

				+ .site-header__nav__item {
					margin: 10px 0;
				}

				a {
					color: $white;
				}
			}

			&.open {
				visibility: visible;
				transform: translateX(-100%);
				transition: transform 0.3s ease-out;
			}
		}
	}

	.menu-toggle {
		position: fixed;
		z-index: 999;
		top: 20px; 
		right: 20px;
	}
}