.hero {
	position: relative;
	background-position: center center;
	background-size: cover;

	&__search {
		margin: 80px 0;
	}

	&__top-tasks {
		margin-bottom: 125px;

		&__title {
			margin-bottom: 20px;
			text-align: center;
			color: $bg-grey;
		}
	}

	&__scroll-down {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 98px;
		height: 98px;
		background-color: $bg-grey;
		padding: 10px 20px;
		border: 0;
		@include outline-green;

		p {
			color: $white;
			font-size: rem-calc(18);
			line-height: rem-calc(20);
			text-align: center;
			margin: 0 0 20px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 46px;
			left: 50%;
			width: 50px;
			height: 50px;
			background: url('./images/arrow.svg') center center no-repeat;
			transform-origin: center center;
			transform: rotate(90deg) translateY(50%);
			transition: top 0.2s linear;
		}

		&:hover, &:focus {
			&:after {
				top: 51px;
			}
		}
	}
}