.news-events {
	&__title, &__link {
		margin: 50px 0;
		text-align: center;

		h2, a {
			font-size: rem-calc(22);
			line-height: rem-calc(22);
			@include f-demibold;
		}

		a {
			text-decoration: none;
			color: $t-grey;
			position: relative;
			padding-right: 50px;
			@include outline-green-gap;

			&:after {
				content: '';
				position: absolute;
				width: 50px;
				height: 50px;
				background: url('../images/arrow-grey.svg') center center no-repeat;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				transition: right 0.2s linear;
			}

			&:hover {
				text-decoration: underline;

				&:after {
					right: -5px;
				}
			}
		}
	}

	&__carousel {

		&__slide {
			position: relative;

			&__cover {
				height: 100%;
				background-color: transparentize($bg-grey, 0.75);
				padding: 70px 70px 55px;

				@include large {
					padding: 90px 90px 80px;
				}
			}

			h3 {
				padding-bottom: 80px; 
				text-align: center;
				color: $white;
				@include f-demibold;
				font-size: rem-calc(22);
				line-height: rem-calc(30);
			}

			.btn {
				position: absolute;
				width: 140px;
				bottom: 80px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}