@mixin line-after-single-other-service {
	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 1px;
		background-color: $white;
	}
}

.other-services {
	background-color: $bg-grey;
	padding: 60px 0;

	@include medium {
		padding: 80px 0;
	}

	@include large {
		padding: 100px 0;
	}

	&__single {
		padding: 15px 40px;

		&__title {
			@include f-demibold;
			font-size: rem-calc(26);
			line-height: rem-calc(30);
			margin-bottom: 10px;
			color: $white;
		}

		&__links {
			color: $white;
			@include f-regular;
			font-size: rem-calc(22);
			line-height: rem-calc(30);
		}

		a {
			color: $white;
			text-decoration: none;
			@include outline-green-gap;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	@include medium {
		.columns:nth-child(1) {
			@include line-after-single-other-service;
		}
	}

	@include large {
		.columns:nth-child(2) {
			@include line-after-single-other-service;
		}
	}
}