.btn {
	font-size: rem-calc(18);
	line-height: rem-calc(18);
	color: $white;
	border: 1px solid;
	padding: 14px 15px;
	text-align: center;
	text-decoration: none;
	transition: padding 0.2s linear;
	@include outline-green-gap;

	&:before {
		content: '';
		position: absolute;
		width: 0;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: $green;
		transition: width 0.2s linear;
	}

		&:hover {
			padding: 12px 15px 16px;

			&:before {
				width: 100%;
			} 
		}

	&--ghost {
		background-color: transparent;
	}
}
