@mixin slick-arrows {
	z-index: 2;
	width: 50px;
	height: 50px;
	background-color: $green;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 50px;
		height: 50px;
		background: url('./images/arrow.svg') center center no-repeat;
		opacity: 1;
	}

	&.slick-prev {
		left: 0;

		&:before {
			transform: rotate(180deg);
		}
	}	
}

.services-carousel {
	padding: 0 25px;

	&__single {
		background: transparentize($white, 0.05);
		position: relative;
		transition: background-color 0.2s linear;

		&__cover {
			padding: 50px 40px;
			width: 100%;
			pointer-events: none;

			img {
				width: 200px;
				max-width: 100%;
				margin: 0 auto 20px;
			}

			h3 {
				text-align: center;
				font-size: rem-calc(26);
				line-height: rem-calc(26);

				@include medium {
					font-size: rem-calc(30);
					line-height: rem-calc(30);
				}

				@include large {
					font-size: rem-calc(34);
					line-height: rem-calc(34);
				}
			}
		}


		&__menu {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			width: 100%;
			left: 0;
			top: 75%;
			transform-origin: center center;
			transform: translateY(-50%);

			ul {
				padding: 75px 30px 10px;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					top: 10px;
					left: 50%;
					width: 58px;
					height: 60px;
					transform: translateX(-43px);
					background: url('../images/services-carousel/24_7.png') center center no-repeat;
				}

				li {
					+ li {
						border-top: 1px solid $white;
					}

					a {
						display: block;
						text-align: center;
						color: $white;
						text-decoration: none;
						padding: 6px 0;
						font-size: rem-calc(16);

						@include large {
							font-size: rem-calc(18);
						}

						&:hover {
							background-color: $bg-grey;
							transition: background-color 0.2s linear;
						}
					}
				}
			}
		}

		&:hover, &:focus {
			background-color: transparentize($green, 0.05);

			.services-carousel__single__cover {
				transform: translateY(-25%);
				opacity: 0;
				transition: transform 0.3s ease-out, opacity 0.3s linear;
			}

			.services-carousel__single__menu {
				visibility: visible;
				top: 50%;
				opacity: 1;
				transition: top 0.3s ease-in, opacity 0.3s linear;
			}
		}
	}

	.slick-arrow {
		@include slick-arrows;
		&.slick-next {
			right: 0;
		}

		&.slick-prev {
			left: 0;		
		}
	}
}

.news-events__carousel {

	.slick-arrow {
		@include slick-arrows;
		&.slick-next {
			right: 10px;
		}

		&.slick-prev {
			left: 10px;		
		}
	}

}