.form {
	position: relative;

	&__label {
		display: block;
		@include f-demibold;

		&--hidden {
			overflow: hidden;
			height: 0;
			width: 0;
		}
	}

	&__input {
		display: block;
		width: 100%;
		height: 74px;
		font-size: rem-calc(26);
		@include f-demibold;
		padding: 20px;
		border: 2px solid $white;
		@include outline-green;

		&::placeholder {
		  color: $t-grey;
		}
	}

	&__button {
		display: block;
		height: 74px;
		background-color: $bg-grey;
		color: $white;
		font-size: rem-calc(26);
		@include f-demibold;
		padding: 20px;
		border: 2px solid $bg-grey;
		@include outline-green;
	}

	#search-input {
		padding-right: 230px;
	}

	#search-submit {
		position: absolute;
		top: 0;
		right: 0;
		width: 210px;
	}

}