.menu-toggle {
	width: 44px;
	height: 44px;
	padding: 0;
	border: 2px solid $green;
	background-color: $white;
	transition: background-color 0.2s 0.1s linear;
	@include outline-green-gap;

	&__burger {
		position: relative;
		width: 40px;
		height: 22px;
		
		span {
			position: absolute;
			width: 32px;
			left: 4px;
			height: 3px;
			background-color: $green;
			text-transform: center center;
			transition: all 0.3s;

			&:nth-child(1) {
				top: 4px;
			}

			&:nth-child(2) {
				top: 11px;
			}

			&:nth-child(3) {
				top: 18px;
			}
		}
	}
	
	&__text {
		opacity: 1;
		font-size: rem-calc(10);
		text-transform: uppercase;
		display: block;
		margin: 3px auto;
		transition: opacity 0.3s linear, transform 0.2s ease-out;
	}

	&.open {
		background-color: $bg-grey;
		
		.menu-toggle__burger {
			span:nth-child(1) {
				transform: rotate(-135deg);
				top: 18px;
			}

			span:nth-child(2) {
				top: 18px;
				transform: scaleX(0);
			}

			span:nth-child(3) {
				transform: rotate(135deg);
				top: 18px;
			}
		}

		.menu-toggle__text {
			transform: translateY(5px);
			opacity: 0;
			transition: opacity 0.2s linear, transform 0.3s ease-out;
		}
	}
}