@font-face {
	font-family: "Avenir Regular";
	src: url("../fonts/avenir-next-regular.ttf") format('truetype');
	src: url("../fonts/avenir-next-regular.woff") format('woff');
}

@font-face {
	font-family: "Avenir Demibold";
	src: url("../fonts/avenir-next-demibold.ttf") format('truetype');
	src: url("../fonts/avenir-next-demibold.woff") format('woff');
}

@font-face {
	font-family: "Avenir Bold";
	src: url("../fonts/avenir-next-bold.ttf") format('truetype');
	src: url("../fonts/avenir-next-bold.woff") format('woff');
}

@mixin f-regular {
	font-family: 'Avenir Regular', sans-serif;
}

@mixin f-demibold {
	font-family: 'Avenir Demibold', sans-serif;
	font-weight: 500;
}

@mixin f-bold {
	font-family: 'Avenir Bold', sans-serif;
	font-weight: 600;
}



body {
	@include f-regular;
	font-weight: 300;
	color: $t-grey;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	@include f-demibold;
	margin: 0;
}

p {
	@include f-regular;
	margin: 0;
}

h1, .h1 {
	font-size: rem-calc(34);
	line-height: rem-calc(34);

	@include medium {
		font-size: rem-calc(50);
		line-height: rem-calc(50);
	}
}

h2, .h2 {
	font-size: rem-calc(22);
	line-height: rem-calc(22);
}

.site-header__nav__item a {
	font-size: rem-calc(22);
	text-decoration: none;
	color: $t-grey;
	outline-offset: 1px;

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		outline: $green solid 1px;
		outline-offset: 3px;
		transition: outline-offset 0.1s linear;
	}
}